.message-box {
    color: #fff;
    font-weight: bold;
    padding: 20px;
    border-radius: 25px;
    margin-bottom: 20px;

    &--process {
        background: blue;
    }

    &--error {
        background: red;
    }

    &--success {
        background: #42ae42;
    }
}
