.upload-file {
    width: 100%;
    border-radius: 10px;

    &__custom {
        position: relative;
        cursor: pointer;
        flex: 0 auto;
        margin-top: 30px;

        .upload-file__input {
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            z-index: 2;
            cursor: pointer;
            width: 100%;
        }
    }
    &__file-name {
        font-size: 12px;
    }
}
