.song-page {
    &__header {
        display: flex;
        gap: 20px;
        h1 {
            font-size: 20px;
            @media(min-width: 1024px){
                font-size: 25px;
            }
        }
        p {
            font-size: 14px;
            color: var(--gray-color);
        }
    }
    &__control {
        margin-right: 10px;
    }
}
