.song-page {
    margin-bottom: var(--player-mobile-height);
    @media(min-width: 1024px) {
        margin-bottom: var(--player-desktop-height);
    }
    &__header {
        display: flex;
        margin-top: 30px;
        h1 {
            font-size: 20px;
        }
        p {
            font-size: 14px;
            color: var(--gray-color);
        }
    }
    &__control {
        margin-right: 15px;
    }
    &__desc {
        color: var(--vt-c-white)
    }
    &__comments {
        margin-top: 50px;
    }
}
