.manage {
    margin-bottom: var(--player-mobile-height);
    @media(min-width: 1024px) {
        margin-bottom: var(--player-desktop-height);
    }

    &__header {
        border-radius: 15px;
        text-align: center;
        min-height: 250px;
    }

    &__title {
        font-size: 25px;
        @media(min-width: 768px) {
            font-size: 50px;
        }
    }

    &__upload {
        border-radius: 10px;
        margin: 50px auto;
        box-shadow: 0 15px 30px rgb(31 51 136 / 15%);
        @media(min-width: 475px) {
            max-width: 400px;
        }
        @media(min-width: 768px) {
            max-width: 500px;
        }
    }

    &__progress {
        margin-top: 20px;
    }

    &__main {
        margin-top: 50px;
    }
}
