.auth {
    @media(min-width: 991px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @media(min-width: 1400px) {
        display: grid;
        grid-template-columns: 60% 1fr;
    }

    &__description {
        display: none;
        @media(min-width: 991px) {
            display: block;
            height: 100vh;
            position: sticky;
            top: 0;
            background-image: -webkit-image-set(
                    url("/src/img/login/login-people.png") 2x,
                    url("/src/img/login/login-people.png") 1x
            );
            background-image: image-set(
                    url("/src/img/login/login-people.webp") type("image/webp") 1x,
                    url("/src/img/login/login-people.webp") type("image/webp") 2x,
                    url("/src/img/login/login-people.png") type("image/png") 1x,
                    url("/src/img/login/login-people.png") 2x
            );
            background-color: var(--main-color) url("/src/img/login/login-people.png");
            background-repeat: no-repeat;
            background-position: center 90%;
            background-size: 360px 260px;
            padding: 100px 85px;
        }
        @media(min-width: 1500px) {
            background-size: 500px 360px;
        }
        @media(min-width: 2000px) {
            background-size: auto;
            background-position: center 80%;
        }
    }

    &__form {
        position: relative;
        padding: 25px;
        background: var(--vt-c-white);
        min-height: 100vh;
        @media(min-width: 575px) {
            padding: 50px;
        }
        @media(min-width: 1024px) {
            padding: 100px;
            min-height: initial;
        }

        fieldset {
            border: none;
            padding: 0;
        }

        .button {
            margin-top: 20px;
            padding: 15px;
            font-size: 16px;
        }
    }

    &__main-img {
        position: absolute;
        bottom: 100px;
        left: -120px;
        width: 150px;
        height: auto;
        display: none;
        @media(min-width: 991px) {
            display: block;
        }
        @media(min-width: 1500px) {
            left: -150px;
            width: 200px;
        }
        @media(min-width: 2000px) {
            left: -220px;
            width: 300px;
        }
    }
}
