.clickable {
    position: relative;

    &__button {
        display: block;
        padding: 0;
        border: 0;

        &:after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;
            pointer-events: auto;
            content: "";
            background-color: transparent;
            cursor: pointer;
        }
    }
}
