.content-header {
    background-color: var(--main-color-dark);
    padding: 20px;
    border-radius: 10px;

    &__head {
        display: flex;
        align-items: center;
    }

    &__icon {
        fill: var(--red-color);
        margin-right: 10px;
    }

    &__title {
        font-size: 20px;
    }
}
