.nav {
    &__list {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 20px;
        margin: 0;
        @media(min-width: 1024px) {
            display: grid;
            row-gap: 1.5rem;
            justify-content: flex-start;
        }
    }
    &__item {
        display: grid;
        row-gap: 2.5rem;

        &:hover {
            .nav__link {
                color: var(--main-color);
            }

            .nav__icon {
                fill: var(--main-color);
            }
        }

        @media(max-width: 1025px){
            & + .nav__item {
                margin-left: 15px;
            }
        }
    }
    &__show {
        display: block;
        @media(min-width: 1024px){
            display: none;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        gap: 10px;
        transition: 0.2s;

        @media(min-width: 1024px) {
            &--active {
                color: var(--main-color);

                .nav__icon {
                    fill: var(--main-color);
                }
            }
        }
    }
    &__icon {
        transition: 0.2s;

        &:hover {
            fill: var(--main-color);
        }
    }

    &__title {
        opacity: 0;
        transition: opacity 0.3s;
        white-space: nowrap;
        margin-top: 5px;
        display: none;
        @media(min-width: 1024px) {
            display: block;
        }
    }
}
