.progress {
    display: flex;
    background-color: var(--vt-c-white);
    height: 5px;
    margin: 0;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    transition: width 0.2s ease;
}

progress::-webkit-progress-value {
    background-color: var(--second-color);
}
progress::-webkit-progress-bar {
    background-color: var(--vt-c-white);
}
