:root {
    --vt-c-white: #fff;
    --vt-c-black: #181818;
    --header-background: #fff;
    --header-size: 70px;
    --header-active-size: 200px;
    --main-color: #464064;
    --main-hover-color: #464064cf;
    --second-color: #EEC38E;
    --second-hover-color: #eec38ea8;
    --font-weight: 300;
    --content-color: #f4fafe;
    --red-color: #e61715;
    --gray-color: #a8afb7;
    --gray-ligth-color: #c1c5cc;
    --play-btn-color: #17191a;
    --player-desktop-height: 150px;
    --player-mobile-height: 80px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

body {
    color: var(--main-color);
    background: var(--main-color);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: var(--vt-c-black);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, span, p, div {
    font-weight: var(--font-weight);
}

img {
    max-width: 100%;
}

.wrapper {
    min-height: 100vh;
    word-break: break-word;
}

.wrapper, .wrapper > .content {
    display: flex;
    flex-direction: column;
}

.wrapper > .content {
    flex-shrink: 0;
    flex-grow: 1;
}
