.progress-bar {
    &:not(:last-child) {
        margin-bottom: 15px;
    }

    &__line {
        display: flex;
        background-color: var(--vt-c-white);
        height: 15px;
        margin: 0;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
    }

    & + .progress-bar__line {
        margin-top: 20px;
    }

    &__inside {
        display: flex;
        height: 100%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        transition: width 0.2s ease;
    }

    &__title {
        margin-bottom: 2px;
        text-align: left;
        display: inherit;
        font-size: 12px;
        color: var(--vt-c-white);
    }

    &__percentage {
        position: absolute;
        left: 50%;
        font-size: 11px;
        top: 7px;
        transform: translate(-50%, -50%);
        color: var(--vt-c-white);
        text-align: left;
        display: inherit;
    }
}
