.header {
    background: var(--second-color);
    height: 65px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__nav {
        display: flex;
        align-items: center;
        width: 100%;

        .user-menu__nav {
            display: none;
            @media(min-width: 768px) {
                display: flex;
            }
        }
    }

    &__list {
        display: flex;
    }

    &__profile {
        .nav__list {
            display: block;
        }

        .nav__item + .nav__item {
            margin-top: 10px;
            margin-left: 0;
        }
        @media(min-width: 768px){
            .nav__item--hide {
                display: none;
            }
        }
    }
}
