.header.header--user {
    position: relative;
    height: auto;
    width: 100%;
    overflow: visible;
    .header__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        cursor: pointer;
    }
    .header__button {
        width: 50px;
        height: 50px;
        min-width: 0;
        background: var(--vt-c-white) url('/src/img/arrow.svg') no-repeat center;
        background-size: 25px 25px;
        transform: rotate(-90deg);
        border-radius: 50%;
        transition: box-shadow 0.2s;
        @media(min-width: 1024px) {
            &:hover {
                box-shadow: 0 15px 30px rgb(31 51 136 / 15%);
            }
        }
    }
    .header__user-menu {
        display: none;
        @media(min-width: 1024px){
            display: block;
        }
    }
    .nav {
        display: none;
        @media(min-width: 1024px){
            display: block;
        }
    }
    .nav__title {
        opacity: 1;
    }
}
