.form {
    &__group {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    &__label {
        display: inline-block;
        font-size: 14px;
        margin-bottom: 10px;
    }

    &__input {
        width: 100%;
        display: block;
        z-index: 1;
        font-size: 16px;
        box-sizing: border-box;
        box-shadow: none;
        padding: 0 15px;
        border-radius: 5px;
        border: 1px solid #d6dbe5;
        height: 45px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        overflow: visible;
        line-height: inherit;
        @media(max-width: 1400px) {
            outline: none;
        }

        &--country {
            border: 1px solid #b8adad !important;
        }
    }

    &__error {
        display: inline-block;
        color: red;
        font-size: 12px;
        margin-top: 10px;
    }
}
