.song-item.song-item--manage {
    background-color: var(--second-color);
    box-shadow: 0 15px 30px rgb(31 51 136 / 15%);
    border-radius: 15px;
    display: block;
    cursor: initial;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    .song-item__button {
        background-size: 20px 20px;
        fill: white;
        min-width: 30px;
    }
    .song-item__desc {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .song-item__form-edit {
        border: none;
        margin: 20px auto;
        width: 100%;
        padding: 0;
        @media(min-width: 768px){
            flex: 0 1 60%;
            margin: 0;
        }
    }

    .song-item__button--remove {
        background: url("/src/img/remove-white.svg") no-repeat center;
        background-size: 20px 20px;
    }

    .song-item__button--edit {
        background: url("/src/img/edit-white.svg") no-repeat center;
        background-size: 20px 20px;
    }

    .song-item__btn-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 40px 0 auto;
        .button {
            + .button {
                margin-left: 15px;
            }
        }
    }
    .song-item__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .song-item__img {
        display: none;
        @media(min-width: 768px){
            display: block;
            flex: 0 0 40%;
            img {
                padding-right: 50px;
            }
        }
    }
    .form__input {
        border: none;
    }
    .form__group {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}
